#login{
    padding-left: 500px;
}

#chat{
    padding: 5px;
    padding-left: 30%;
    padding-right: 30%;
    width: 100%;
}
#chatbox{
    overflow: scroll;
    width: 600px;
    height: 500px;
}
#chat-container{
    float: inline-end;
    max-width: 1200px;
}
header{
    background-color: teal;
}
h1{
    padding: 20px;
    background-color: transparent;
}